{% extends 'base.html' %}
{% block content %}

<h1>Recipe Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ recipe.title }}</span>
        <p>Ingredients: {{ recipe.ingredients }}</p>
        <p>Directions: {{ recipe.directions|linebreaks }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'recipes_update' recipe.id %}">Edit</a>
        <a href="{% url 'recipes_delete' recipe.id %}">Delete</a>
      </div>
    </div>
  </div>

<!-- This is all new markup to be added just above the <script> tag -->
<hr>
<div class="row">
  <div class="col s6">
    <h3>Required Tools for {{ recipe.title }}</h3>
    {% if recipe.tools.count %}
      {% for tool in recipe.tools.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              A {{ tool.cost }} {{ tool.name }}
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'unassoc_tool' recipe.id recipe.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn">Remove</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No Tools Listed</h5>
    {% endif %}
  </div>
  <!-- Available tools will come after this line -->
  <div class="col s6">
    <h3>Available Tools</h3>
    {% if tools.count %}
      {% for tool in tools.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              A {{ tool.cost }} {{ tool.name }}
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_tool' recipe.id tool.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>{{recipe.title}} Has Tools Assigned</h5>
    {% endif %}
  </div>
</div>

{% endblock %}
